@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #fcfbf9; /* Soft cream/stone 50 */
  --foreground: #1c1917; /* Stone 900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply selection:bg-rose-200 selection:text-rose-950;
}

@media (min-width: 1024px) {
  html {
    font-size: 12px; /* Scales down by 25% */
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 14px; /* Scales down by 12.5% */
  }
}
